

<tr class="cat-item" id="tag-<%=category.id%>">
  <td class="cell-name">
    <strong>
      <%=link_to raw("&#8212") * level + category.name, edit_admin_category_path(category) , :class=>'edit-link' %>
    </strong>
    <div class="item-action">
      <%=link_to "edit", edit_admin_category_path(category) %> |
      <a class="quick-edit" href="#">Quick Edit</a> |
      <%= link_to 'Destroy', [:admin,category], :confirm => 'Are you sure?', :method => :delete %>
    </div>
    <div class="hidden data">
      <div class="name"><%=category.name%></div>
      <div class="short-description"><%=category.short_description%></div>
      <div class="id"><%=category.id%></div>

    </div>  
  </td>
  <td><%=category.short_description%></td>
  <td><%=category.id%></td>
</tr>
