<h1>Listing images</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Short description</th>
    <th>Description</th>
    <th>Url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @images.each do |image| %>
  <tr>
    <td><%= image.name %></td>
    <td><%= image.short_description %></td>
    <td><%= image.url %></td>
    <td><%= link_to 'Show', [:admin,image] %></td>
    <td><%= link_to 'Edit', edit_admin_image_path(image) %></td>
    <td><%= link_to 'Destroy', [:admin,image], :confirm => 'Are you sure?', :method => :delete %>   


</td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Image', new_admin_image_path %>
